<a href="https://colab.research.google.com/github/Manireddy69/learning-python/blob/main/Learn_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input("Enter a integer:"))
count = 0
while x > 0:
  if x % 2 == 0:
    x /= 2
  else:
    x -= 1
  count += 1
print(count)

Enter a integer:14
6

In [ ]:
def f1(x): return x*2
def f2(x): return x*4
lst = []
for i in range(10):
  lst.append(f1(f2(i)))
print(lst)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72]

In [ ]:
x = [1,2,3,4]
list(map(lambda x : x**2,x))

[1, 4, 9, 16]

In [ ]:
names = str.split("man women ken ben")
names
print(sorted(names, key = len))
print(names.sort(key = len))

['man', 'ken', 'ben', 'women']
None

In [ ]:
class employee(object):
  numemploye = 0
  names = set()
  def __init__(self, name, rate):
    if name in employee.names:
      raise ValueError(f"{name} bkl already exist in data base")
    self.owed = 0
    self.name = name
    self.rate = rate
    employee.names.add(name)
    employee.numemploye += 1
    def __del__(self):
      employee.numemploye -= 1
    def hours(self,numhours):
      self.owed += numhours *self.rate
      return(".2f hours worked" %numhours)

    def pay(self):
      self.owed = 0
      return("payed %s" %self.name)

In [ ]:
emp = employee
first_customer = emp("jen", 19.88)
second_customer = emp("ben", 18.99)
# first_customer = emp("Mani", 19.88)

In [ ]:
class creditcard(object):
  def __init__(self, customer, bank, account, limit):
    self._customer = customer
    self._bank = bank
    self._account = account
    self._limit = int(limit) # Convert limit to integer
    self._balance = 0
  def get_customer(self):
    return self._customer
  def get_bank(self):
    return self._bank
  def get_account(self):
    return self._account
  def get_balance(self):
    return self._balance
  def charge(self, price):
    if price + self._balance > self._limit:
      return False
    else:
      self._balance += price
      return True
  def make_payment(self, amount):
    self._balance -= amount


if __name__ == '__main__':
  wallet = []
  wallet.append(creditcard('Mani', 'SBI', "69", "10000"))
  wallet.append(creditcard('Mahesh', 'SBI', "70", "10000"))

  for i in range(1,17):
    wallet[0].charge(10*i)
    wallet[1].charge(20*i)

In [ ]:
creditcard.get_balance

In [ ]:
x = 10
while x>0:
  x-= 1
  if x % 2 != 0: continue
  print(x, end='')

86420

In [ ]:
x= [1,2,3,4,5]
y = [3,4,5]
for i in x:
  for j in y:
    if i == j:
      print(i, j)
    else:pass

3 3
4 4
5 5

In [ ]:
def f(n):
  if n ==1:
    return n

  return n +(n-1)
  f(n-1)
f(4)

10

In [ ]:
x = 10191
x = str(x)
x[0] # Now you can use split() on the string

'1'

In [ ]:
def cal(n):
  result = 3
  if n <= 2:
    return result
  for i in range(2,n):
    result += cal(i) * cal(n-i +1)
  return result
print(cal(4))

75

In [ ]:
3+3*11

36

In [ ]:
data= [-1, 5,3,6,9,12,15,0]
def b(i, data,n):
  if i>= n-1:
    return 0
  elif data[i] < data[i+1]:
    return 1 + b(i+1, data, n)
  else: return b(i+1, data, n)

b(0,data,8)

5

In [6]:
# class Solution(object):
def removeDuplicates(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        if not nums:
            return 0
        j = 0
        for i in range(1, len(nums)):
            if nums[j] != nums[i]:
                j += 1
                nums[j] = nums[i]
        return j+1


removeDuplicates([1,1,2,3,4,5,6,6])

6