<a href="https://colab.research.google.com/github/Manireddy69/learning-python/blob/main/Learn_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input("Enter a integer:"))
count = 0
while x > 0:
  if x % 2 == 0:
    x /= 2
  else:
    x -= 1
  count += 1
print(count)

Enter a integer:14
6

In [ ]:
def f1(x): return x*2
def f2(x): return x*4
lst = []
for i in range(10):
  lst.append(f1(f2(i)))
print(lst)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72]

In [ ]:
x = [1,2,3,4]
list(map(lambda x : x**2,x))

[1, 4, 9, 16]

In [ ]:
names = str.split("man women ken ben")
names
print(sorted(names, key = len))
print(names.sort(key = len))

['man', 'ken', 'ben', 'women']
None

In [ ]:
class employee(object):
  numemploye = 0
  names = set()
  def __init__(self, name, rate):
    if name in employee.names:
      raise ValueError(f"{name} bkl already exist in data base")
    self.owed = 0
    self.name = name
    self.rate = rate
    employee.names.add(name)
    employee.numemploye += 1
    def __del__(self):
      employee.numemploye -= 1
    def hours(self,numhours):
      self.owed += numhours *self.rate
      return(".2f hours worked" %numhours)

    def pay(self):
      self.owed = 0
      return("payed %s" %self.name)

In [ ]:
emp = employee
first_customer = emp("jen", 19.88)
second_customer = emp("ben", 18.99)
# first_customer = emp("Mani", 19.88)

In [ ]:
class creditcard(object):
  def __init__(self, customer, bank, account, limit):
    self._customer = customer
    self._bank = bank
    self._account = account
    self._limit = int(limit) # Convert limit to integer
    self._balance = 0
  def get_customer(self):
    return self._customer
  def get_bank(self):
    return self._bank
  def get_account(self):
    return self._account
  def get_balance(self):
    return self._balance
  def charge(self, price):
    if price + self._balance > self._limit:
      return False
    else:
      self._balance += price
      return True
  def make_payment(self, amount):
    self._balance -= amount


if __name__ == '__main__':
  wallet = []
  wallet.append(creditcard('Mani', 'SBI', "69", "10000"))
  wallet.append(creditcard('Mahesh', 'SBI', "70", "10000"))

  for i in range(1,17):
    wallet[0].charge(10*i)
    wallet[1].charge(20*i)

In [ ]:
creditcard.get_balance

In [ ]:
x = 10
while x>0:
  x-= 1
  if x % 2 != 0: continue
  print(x, end='')

86420

In [ ]:
x= [1,2,3,4,5]
y = [3,4,5]
for i in x:
  for j in y:
    if i == j:
      print(i, j)
    else:pass

3 3
4 4
5 5

In [ ]:
def f(n):
  if n ==1:
    return n

  return n +(n-1)
  f(n-1)
f(4)

10

In [ ]:
x = 10191
x = str(x)
x[0] # Now you can use split() on the string

'1'

In [ ]:
def cal(n):
  result = 3
  if n <= 2:
    return result
  for i in range(2,n):
    result += cal(i) * cal(n-i +1)
  return result
print(cal(4))

75

In [ ]:
3+3*11

36

In [ ]:
data= [-1, 5,3,6,9,12,15,0]
def b(i, data,n):
  if i>= n-1:
    return 0
  elif data[i] < data[i+1]:
    return 1 + b(i+1, data, n)
  else: return b(i+1, data, n)

b(0,data,8)

5

In [ ]:
# class Solution(object):
def removeDuplicates(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        if not nums:
            return 0
        j = 0
        for i in range(1, len(nums)):
            if nums[j] != nums[i]:
                j += 1
                nums[j] = nums[i]
        return j+1


removeDuplicates([1,1,2,3,4,5,6,6])

6

In [ ]:
def check_substring(s, x):
  """
  Checks if substring x is present in string s.

  Args:
    s: The main string.
    x: The substring to check for.

  Returns:
    True if x is in s, False otherwise.
  """
  if sorted(x) == sorted(y):
    return True
  return False

s = list('anagram')
t = list('nagaram')
x = list('rat')
y = list('cat')
# s = sorted(s)
# t = sorted(t)

print(check_substring(s, t))
# print(check_substring(x,y))

False

In [ ]:
def find_common_elements(x, y):
  """
  Finds distinct common elements in two lists.

  Args:
    x: The first list.
    y: The second list.

  Returns:
    A list of distinct common elements.
  """
  common_elements = []
  for i in x:
    for j in y:
      if i == j:
        common_elements.append(i)
  return list(set(common_elements))

x = [1, 2,2,2, 3, 4]
y = [3,3, 4]
print(find_common_elements(x, y))

[3, 4]

In [ ]:
x = [3,2,2,3]
k = 2
for i in range(x.count(k)):
  x.remove(k)
print(x)

[3, 3]

In [ ]:
x = [1,3,5,6]
target = 5
x[target+2:target]

[]

In [ ]:
x = [1,3,5,6]
target = 2
if target in x:
  print(x.index(target))
else:
  x.append(target)
  x.sort()
  print(x.index(target))

1

In [ ]:
4 % 2

0

In [ ]:
x = list('malayalam')
for i in range(len(x)):
  if len(x) % 2 != 0:

False

In [ ]:
# x = "race a car".lower()
# x = x.replace(',', '').replace(':', '').replace(' ', '')
# x = list(x)
# print(x)
# middle = len(x) //2
# print(x[:middle])
# print(x[:middle:-1])
# print(x[:middle] == x[:middle:-1])

['r', 'a', 'c', 'e', 'a', 'c', 'a', 'r']
False

In [ ]:
s = "A man, a plan, a canal: Panama"
s = s.lower()
s = s.replace(',', '').replace(':', '').replace(' ', '').replace('.','')
s = set(list(s))
s

{'a', 'c', 'l', 'm', 'n', 'p'}

In [ ]:
def f(s,t):
  s = 'abcd'
  t = 'abcde'
  for i in range(len(s)):
    if s[i] != t[i]:
      return True
    return t[-1]

f(s,t)

'e'

In [ ]:
x = [-100,-98,-1,2,3,4]
x =sorted(x)
print(x)
print(max(x[0]*x[1]*x[2], x[0]*x[1]*x[-1] ))

[-100, -98, -1, 2, 3, 4]
39200

In [ ]:
def containsNearbyDuplicate(nums, k):
    window = set()
    for i in range(len(nums)):
        if nums[i] in window:
            return True
        window.add(nums[i])
        if len(window) > k:
            window.remove(nums[i - k])
    return False

containsNearbyDuplicate([1,2,3,1,2,3], 3)

True

In [ ]:
x = [3,2,1,5]
enumerate(x)

In [ ]:
x = [3,2,1,5]
print(list(enumerate(x, start = 1)))

[(1, 3), (2, 2), (3, 1), (4, 5)]

In [ ]:
nums1 = [1,2,2,1]
nums2 = [2,2]
common = []
for num in nums1:
  if num in nums2:
    common.append(num)
    nums2.remove(num) # Remove the element to handle duplicates

print(common)

[2, 2]

In [ ]:
d = {0:0,
     1:1,
     2:1}
def fib(n, d):
  if n in d:
    return(d[n])
  else:
    return(fib(n-1,d) + fib(n-2,d))
fib(4, d)

3

In [10]:
x = 2.000
n = 10


def power(x, n):
  if n == 0:
    return 1
  # elif n < 0:
  #   return 1 / power(x, -n) # Handle negative exponents
  # elif n % 2 == 0:
  #   half_power = power(x, n // 2)
  #   return half_power * half_power
  else:
    return x * power(x, n - 1)

print(power(x, n))

1024.0